body {
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center 0;
}

p {
    margin-left: 10px;
}

a {
    font-size: xx-large;
}

.text {
    font-size: large;
    color: #d6ecf0;
}

.container {
    margin-top: 100px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.form-group {
    color: #d6ecf0;
    font-size: large;
}

.control-label {
    font-size: large;
    color: #d6ecf0;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
