$def with (username,column_data,his_data)
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <title>铱钶环保</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/site.css" />
    <script src="/static/js/modernizr-2.6.2.js"></script>
    <script src="/static/js/echarts.js"></script>
    <script src="/static/js/jquery-1.10.2.js"></script>
    <script src="/static/js/bootstrap-4.4.1.js"></script>
    <script src="/static/js/respond.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    $if (username=='111')|(username=='222'):
                        <li><a href="/?sn=1">一号机组实时数据展示</a></li>
                        <li><a href="/?sn=2">二号机组实时数据展示</a></li>
                        <li><a href="/historical?sn=1">历史数据展示</a></li>
                    $if username=='333':
                        <li><a href="/?sn=3">实时数据展示</a></li>
                        <li><a href="/historical?sn=3">历史数据展示</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a>您好！$username</a></li>
                    <li><a href="logout">登出</a></li>
                </ul>
            </div>
        </div>
    </div>
    <table width="100%" border="0">
        <tbody>
            <tr>
                <td width="100%">
                    <form action="historical" method="post" class="form-horizontal">
                        <p>
                            <label for="date1">开始日期:</label>
                            <input type="date" name="date1" id="date1">
                            <label for="time1">时间:</label>
                            <input type="time" name="time1" id="time1">
                        </p>
                        <p>
                            <label for="date2">截止日期:</label>
                            <input type="date" name="date2" id="date2">
                            <label for="time2">时间:</label>
                            <input type="time" name="time2" id="time2">
                        </p>
                        <label for="select">查询字段名</label>
                        <select name="select" id="select">
                            $for name in column_data.values():
                                <option>$name</option>
                        </select>
                        $if username=='admin':
                            <label for="select2">查询机组</label>
                            <select name="select2" id="select2">
                                <option>鹤淇一号机组</option>
                                <option>鹤淇二号机组</option>
                                <option>环龙</option>
                            </select>
                        $if (username=='111') | (username=='222'):
                            <label for="select2">查询机组</label>
                            <select name="select2" id="select2">
                                <option>鹤淇一号机组</option>
                                <option>鹤淇二号机组</option>
                            </select>
                        <button id="Button1" type="submit">查询</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
    <table width="100%" border="0">
        <tbody>
            <tr id="chart1" style="height: 450px;"></tr>
        </tbody>
    </table>
    <div class="container body-content">
        <hr />
        <footer>
            <p>&copy; ECOTECH</p>
        </footer>
    </div>

    <script type="text/javascript">
        function today() {
            let d = new Date();
            let currDate = d.getDate();
            let currMonth = d.getMonth();
            let currYear = d.getFullYear();
            return currYear + "-" + ((currMonth < 10) ? '0' + currMonth : currMonth) + "-" + ((currDate < 10) ? '0' + currDate : currDate);
        }
        function yesterday() {
            let d = new Date();
            let currDate = d.getDate() - 1;
            let currMonth = d.getMonth();
            let currYear = d.getFullYear();
            return currYear + "-" + ((currMonth < 10) ? '0' + currMonth : currMonth) + "-" + ((currDate < 10) ? '0' + currDate : currDate);
        }
        function nowtime() {
            let d = new Date();
            let hour = d.getHours();
            let Min = d.getMinutes();
            return ((hour < 10) ? '0' + hour : hour) + ":" + ((Min < 10) ? '0' + Min : Min);
        }
        document.getElementById('date1').value = yesterday();
        document.getElementById('date2').value = today();
        document.getElementById('time1').value = nowtime();
        document.getElementById('time2').value = nowtime();
        var myChart1 = echarts.init(document.getElementById('chart1'));
        var option = {
            tooltip: {
                trigger: 'axis',
                position: function (pt) {
                    return [pt[0], '10%'];
                }
            },
            toolbox: {
                feature: {
                    dataView: {},
                    saveAsImage: {}
                }
            },
            xAxis: {
                type: 'category',
                data: $his_data["TIMETAG"]
            },
            yAxis: {
                type: 'value'
            },
            series: [
                {
                    data: $his_data["result"],
                    type: 'line',
                    smooth: true
                }
            ]
        };
        myChart1.setOption(option);
    </script>
</body>
</html>
