$def with (username,column_data,his_data,title_name)
<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>铱钶环保</title>
    <link rel="shortcut icon" href="/static/images/favicon.ico" />
    <!--<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" />-->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/site.css" />
    <!--<script src="/static/js/modernizr-2.6.2.js"></script>-->
    <!--<script src="/static/js/respond.js"></script>-->
    <!--<script src="/static/js/jquery-1.10.2.min.js"></script>-->
    <!--<script src="/static/js/bootstrap.min.js"></script>-->
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <!-- bootstrap.bundle.min.js 用于弹窗、提示、下拉菜单，包含了 popper.min.js -->
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="/static/js/echarts.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-item nav-link" style="color: #d6ecf0;">您好！$username</a></li>
            <li class="nav-item"><a class="nav-item nav-link" href="logout">登出</a></li>
        </ul>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                $if (username=='111')|(username=='222'):
                    <li class="nav-item"><a class="nav-link" href="/?sn=1">一号机组实时数据展示</a></li>
                    <li class="nav-item"><a class="nav-link" href="/?sn=2">二号机组实时数据展示</a></li>
                    <li class="nav-item"><a class="nav-link" href="/historical?sn=1">历史数据展示</a></li>
                $if username=='333':
                    <li class="nav-item"><a class="nav-link" href="/?sn=3">实时数据展示</a></li>
                    <li class="nav-item"><a class="nav-link" href="/historical?sn=3">历史数据展示</a></li>
            </ul>
        </div>
    </nav>
    <div class="row">
        <div class="col-12">
            <form action="historical" method="post" class="form-horizontal">
                <p class="text">
                    <label for="date1">开始日期:</label>
                    <input type="date" name="date1" id="date1">
                    <label for="time1">时间:</label>
                    <input type="time" name="time1" id="time1">
                    <label for="date2">截止日期:</label>
                    <input type="date" name="date2" id="date2">
                    <label for="time2">时间:</label>
                    <input type="time" name="time2" id="time2">
                </p>
                <p class="text">
                    <label for="select">查询字段名</label>
                    <select class="form-control" name="select" id="select">
                        $for name in column_data.values():
                            $if name!="空":
                                <option>$name</option>
                    </select>
                    $if (username=='111')|(username=='222'):
                        <label for="select2">查询机组</label>
                        <select class="form-control" name="select2" id="select2">
                            <option>鹤淇一号机组</option>
                            <option>鹤淇二号机组</option>
                        </select>
                    <button class="col-1 form-control" id="Button1" type="submit">查询</button>
                </p>
            </form>
        </div>
    </div>
    <header id="1" align="center" style="color: #d6ecf0;">
        <h3 align="center">$title_name</h3>
    </header>
    <div class="row">
        <div class="col-12" id="chart1" style="height: 300px; " align="center"></div>
    </div>
    <div class="container body-content">
        <hr />
        <footer>
            <p>&copy; ECOTECH</p>
        </footer>
    </div>
    <script type="text/javascript">
        function today() {
            let d = new Date();
            let currDate = d.getDate();
            let currMonth = d.getMonth() + 1;
            let currYear = d.getFullYear();
            return currYear + "-" + ((currMonth < 10) ? '0' + currMonth : currMonth) + "-" + ((currDate < 10) ? '0' + currDate : currDate);
        }
        function yesterday() {
            let d = new Date();
            let currDate = d.getDate() - 1;
            let currMonth = d.getMonth() + 1;
            let currYear = d.getFullYear();
            return currYear + "-" + ((currMonth < 10) ? '0' + currMonth : currMonth) + "-" + ((currDate < 10) ? '0' + currDate : currDate);
        }
        function nowtime() {
            let d = new Date();
            let hour = d.getHours();
            let Min = d.getMinutes();
            return ((hour < 10) ? '0' + hour : hour) + ":" + ((Min < 10) ? '0' + Min : Min);
        }
        document.getElementById('date1').value = yesterday();
        document.getElementById('date2').value = today();
        document.getElementById('time1').value = nowtime();
        document.getElementById('time2').value = nowtime();
        var user = $username;
        if ((user == '111') | (user == '222'))
            document.getElementById('select').value = '凝汽器前ORP';
        if (user == '333')
            document.getElementById('select').value = '凝汽器前ORP值1';
        var myChart1 = echarts.init(document.getElementById('chart1'));
        var option = {
            tooltip: {
                trigger: 'axis',
                position: function (pt) {
                    return [pt[0], '10%'];
                }
            },

            toolbox: {
                feature: {
                    dataView: {},
                    saveAsImage: {},
                    dataZoom: {},
                    restore: {}
                }
            },
            xAxis: {
                type: 'category',
                data: $his_data["TIMETAG"],
                splitLine: {
                    show: false
                }
            },
            yAxis: {
                type: 'value',
                title: '查询结果',
                splitLine: {
                    show: false
                }
            },
            series: [
                {
                    data: $his_data["result"],
                    type: 'line',
                    smooth: true
                }
            ]
        };
        myChart1.setOption(option);
    </script>
</body>
