$def with (username,data,predata)
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <title>铱钶环保</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/site.css" />
    <script src="/static/js/modernizr-2.6.2.js"></script>
    <script src="/static/js/jquery-1.10.2.js"></script>
    <script src="/static/js/bootstrap-4.4.1.js"></script>
    <script src="/static/js/respond.js"></script>
    <script src="/static/js/echarts.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/?sn=3">实时数据展示</a></li>
                    <li><a href="/historical">历史数据展示</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a>您好！$username</a></li>
                    <li><a href="logout">登出</a></li>
                </ul>
            </div>
        </div>
    </div>
    <header id="1" align="center"><h1>OZAST高效水处理监控大屏</h1></header>
    <table width="1920px" border="0">
        <tbody>
            <tr style="height: 250px;">
                <td id="td1" width="420px" style="height: 250px; ">
                    <p id ="p1">凝汽器前ORP1：$data["int_8"]</p>
                    <p id ="p2">凝汽器前ORP2：$data["int_10"]</p>
                    <p id ="p3"></p>
                    <p id ="p4">电导率：$data["int_34"]</p>
                    <p id ="p5"></p>
                    <p id ="p6"></p>
                </td>
                <td id="chart1" width="1080px" style="height: 250px; "></td>
                <td id="td2" width="420px" style="height: 250px; ">
                    <p id ="p7"></p>
                    <p id ="p8"></p>
                    <p id ="p9"></p>
                    <p id ="p10"></p>
                    <p id ="p11"></p>
                </td>
            </tr>
            <tr style="height: 230px;">
                <td id="td3" width="195px" style="height: 230px; ">
                    <p id ="p12"></p>
                    <p id ="p13"></p>
                    <p id ="p14"></p>
                    <p id ="p15"></p>
                    <p id ="p16"></p>
                    <p id ="p17"></p>
                    <p id ="p18"></p>
                    <p id ="p19"><p>
                </td>
                <td id="chart2" width="690px" style="height: 230px; ">
                </td>
                <td id="td5" width="195px" style="height: 230px; ">
                    <p id ="p20">凝汽器支路</p>
                    <p id ="p21">调节阀开度：$data["int_4"]</p>
                    <p id ="p22">冷却塔支路</p>
                    <p id ="p23">调节阀开度：$data["int_5"]</p>
                    <p id ="p24"></p>
                    <p id ="p25"></p>
                    <p id ="p26"></p>
                    <p id ="p27"></p>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="container body-content">
        <hr />
        <footer>
            <p>&copy; ECOTECH</p>
        </footer>
    </div>
    <script type="text/javascript">
        var myChart1 = echarts.init(document.getElementById('chart1'));
        var myChart2 = echarts.init(document.getElementById('chart2'));
        var option = {
            tooltip: {
                trigger: 'axis',
                position: function (pt) {
                    return [pt[0], '10%'];
                }
            },
            title: {
                left: 'center',
                text: '预测运维数据'
            },
            toolbox: {
                feature: {
                    dataView: {},
                    saveAsImage: {}
                }
            },
            xAxis: {
                type: 'category',
                data: $predata["TIMETAG"]
            },
            yAxis: [
                {
                    name: "负荷",
                    type: 'value'
                },
                {
                    name: "端差",
                    type: 'value'
                }
            ],
            series: [
                {
                    name: '负荷',
                    type: 'line',
                    data: $predata["result1"],
                    yAxisIndex: 1,
                    smooth: true
                },
                {
                    name: '端差',
                    type: 'line',
                    data: $predata["result2"],
                    yAxisIndex: 0,
                    smooth: true
                },
                {
                    name: '预测',
                    type: 'line',
                    data: $predata["result3"],
                    lineStyle: {
                        type: [5, 10],
                        dashOffset: 5
                    }
                },
                {
                    name: '警戒值',
                    type: 'line',
                    data: $predata["warningvalue"],
                    yAxisIndex: 0,
                    lineStyle: {
                        type: [5, 10],
                        dashOffset: 5
                    }
                }
            ]
        };
        myChart1.setOption(option);
        option = {
            radar: {
                // shape: 'circle',
                indicator: [
                    { name: '发生量', max: 1500 },
                    { name: '臭氧', max: 300 },
                    { name: '流量', max: 180 },
                    { name: '功率', max: 11000 },
                    { name: '进水温', max: 25 },
                    { name: '出水温', max: 25 },
                    { name: '氧气', max: 100 }
                ],
                radius: ["0%", "75%"]
            },
            series: [
                {
                    name: 'GM18',
                    type: 'radar',
                    data: [
                        {
                            value: [$data["int_32"] / 10, $data["int_15"], $data["int_16"]/10, $data["int_17"]*10, $data["int_18"]/10, $data["int_19"]/10, $data["Value12"]],
                            name: '1'
                        }
                    ],
                    label: {
                        show: true
                    }
                }
            ]
        };
        myChart2.setOption(option);
        var p3 = document.getElementById('p3');
        var p5 = document.getElementById('p5');
        var p6 = document.getElementById('p6');
        var p7 = document.getElementById('p7');
        var p8 = document.getElementById('p8');
        var p9 = document.getElementById('p9');
        var p10 = document.getElementById('p10');
        var p11 = document.getElementById('p11');
        var p12 = document.getElementById('p12');
        var p13 = document.getElementById('p13');
        var p14 = document.getElementById('p14');
        var p15 = document.getElementById('p15');
        var p16 = document.getElementById('p16');
        var p17 = document.getElementById('p17');
        var p18 = document.getElementById('p18');
        p3.innerHTML = 'pH值：' + $data["int_33"]/100;
        p5.innerHTML = '凝汽器前水温1：' + $data["int_9"] / 10;
        p6.innerHTML = '凝汽器前水温2：' + $data["int_11"] / 10;
        var temp1 = $data["bool6"];
        var temp2 = $data["bool7"];
        if (temp1 == 1) {
            p12.innerHTML = '取水阀开';
        }
        else if (temp2 == 1) {
            p12.innerHTML = '取水阀关';
        }
        else {
            p12.innerHTML = '取水阀动作中';
        }
        temp1 = $data["bool8"];
        temp2 = $data["bool9"];
        if (temp1 == 1) {
            p13.innerHTML = '气路快开阀开';
        }
        else if (temp2 == 1) {
            p13.innerHTML = '气路快开阀关';
        }
        else {
            p13.innerHTML = '气路快开阀动作中';
        }
        temp1 = $data["bool15"];
        if (temp1 == 1) {
            p14.innerHTML = '取水泵1运行中';
        }
        else {
            p14.innerHTML = '取水泵1未运行';
        }
        temp1 = $data["bool18"];
        if (temp1 == 1) {
            p15.innerHTML = '取水泵2运行中';
        }
        else {
            p15.innerHTML = '取水泵2未运行';
        }
        temp1 = $data["bool1"];
        if (temp1 == 1) {
            p16.innerHTML = '循泵1运行中';
        }
        else {
            p16.innerHTML = '循泵1未运行';
        }
        temp1 = $data["bool2"];
        if (temp1 == 1) {
            p17.innerHTML = '循泵2运行中';
        }
        else {
            p17.innerHTML = '循泵2未运行';
        }
        temp1 = $data["bool3"];
        if (temp1 == 1) {
            p18.innerHTML = '循泵3运行中';
        }
        else {
            p18.innerHTML = '循泵3未运行';
        }
        var pressure1 = $data["Value15"];
        var pressure2 = $data["Value14"];
        var pr1 = pressure1.toFixed(2).toString();
        var pr2 = pressure2.toFixed(2).toString();
        p24.innerHTML = '吸气口水压/气压：' + pr1 + '/' + pr2;
        pressure1 = $data["Value16"];
        pr1 = pressure1.toFixed(2).toString();
        p25.innerHTML = '吸入器后水压：' + pr1;
        pressure1 = $data["Value18"];
        pr1 = pressure1.toFixed(2).toString();
        p26.innerHTML = '脱气塔前水压：' + pr1;
        pressure1 = $data["Value19"];
        pr1 = pressure1.toFixed(2).toString();
        p27.innerHTML = '脱气塔后水压：' + pr1;
        pressure1 = $data["Value5"];
        pr1 = pressure1.toFixed(2).toString();
        p7.innerHTML = '排气温度：' + pr1;
        pressure1 = $data["Value6"];
        pr1 = pressure1.toFixed(2).toString();
        p8.innerHTML = '出水水温：' + pr1;
        pressure1 = $data["Value7"];
        pr1 = pressure1.toFixed(2).toString();
        p9.innerHTML = '进水压力：' + pr1;
        pressure1 = $data["Value8"];
        pr1 = pressure1.toFixed(2).toString();
        p10.innerHTML = '出水压力：' + pr1;
        pressure1 = $data["Value4"];
        pr1 = pressure1.toFixed(2).toString();
        p11.innerHTML = '负荷：' + pr1;
        pressure1 = $data["Value3"];
        pr1 = pressure1.toFixed(2).toString();
        p19.innerHTML = '变频水泵工作频率：' + pr1;
        
    </script>
</body>
</html>
