<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>铱钶环保</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/site.css" />
    <script src="/static/js/modernizr-2.6.2.js"></script>
    <script src="/static/js/echarts.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/?sn=1">一号机组实时数据展示</a></li>
                <li><a href="/?sn=2">二号机组实时数据展示</a></li>
                <li><a href="/historical">历史数据展示</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a>您好！$username</a></li>
                <li><a href="logout">登出</a></li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-3">
                <p>凝汽器前ORP：$data["Value8"]</p>
                <p>塔前ORP：$data["Value9"]</p>
                <p>pH值：$data["Value19"]</p>
                <p>电导率：$data["Value20"]</p>
                <p>凝汽器前SS：$data["Value15"]</p>
                <p>塔前SS：$data["Value16"]</p>
            </div>
            <div class="col-6" id="chart1"></div>
            <div class="col-3">
                <p>端差：$data["Value3"]</p>
                <p>负荷：$data["Value5"]</p>
                <p>进水水温：$data["Value1"]</p>
                <p>出水水温：$data["Value2"]</p>
                <p>循泵1：$data["bool21"]</p>
                <p>循泵2：$data["bool22"]</p>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <p id ="p1">臭氧投加模式：$data["Value1"]</p>
                <p id ="p2">一号取水阀：$data["bool9"]/$data["bool10"]</p>
                <p id ="p3">二号取水阀：$data["bool11"]/$data["bool12"]</p>
                <p id ="p4">一号注水阀：$data["bool13"]/$data["bool14"]</p>
                <p id ="p5">二号注水阀：$data["bool15"]/$data["bool16"]</p>
                <p id ="p6">代斯米泵1/2：$data["bool17"]/$data["bool18"]</p>
                <p id ="p7">格兰富泵1/2：$data["bool19"]/$data["bool20"]</p>
                <p id ="p8">sv1/2/3：$data["bool1"]/$data["bool2"]/$data["bool3"]</p>
                <p id ="p9">sv7/8/9：$data["bool4"]/$data["bool5"]/$data["bool6"]</p>
            </div>
            <div class="col-2" id="chart2"></div>
            <div class="col-2" id="chart3"></div>
            <div class="col-2" id="chart4"></div>
            <div class="col-3">
                <p>凝汽器支路</p>
                <p>调节阀开度：$data["int_13"]</p>
                <p>冷却塔支路</p>
                <p>调节阀开度：$data["int_14"]</p>
                <p>本地支路</p>
                <p>水压/气压：$data["Value11"]/$data["Value17"]</p>
                <p>远调支路</p>
                <p>水压/气压：$data["Value10"]/$data["Value18"]</p>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <hr />
        <footer>
            <p>&copy; ECOTECH</p>
        </footer>
    </div>
</body>
</html>