$def with (username,data,predata)
<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="refresh" content="120">
    <title>铱钶环保</title>
    <link rel="shortcut icon" href="/static/images/favicon.ico" />
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/site.css" />
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="/static/js/echarts.js"></script>
</head>
<body style="width:1920px;height:1024px;">
    <nav class="navbar navbar-expand-md navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-item nav-link" style="color: #d6ecf0;">您好！$username</a></li>
            <li class="nav-item"><a class="nav-item nav-link" href="logout">登出</a></li>
        </ul>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="/?sn=1">一号机组实时数据展示</a></li>
                <li class="nav-item"><a class="nav-link" href="/?sn=2">二号机组实时数据展示</a></li>
                <li class="nav-item"><a class="nav-link" href="/historical">历史数据展示</a></li>
            </ul>
        </div>
    </nav>
    <header id="header" align="center" style="color: #d6ecf0;"><h1>OZAST高效水处理监控大屏</h1></header>
    <div class="row" style="height: 35%;">
        <div class="col-sm-2">
            <p class="text">端差<span class="badge badge-info" id="p18"></span>℃</p>
            <p class="text">负荷<span class="badge badge-info" id="p19"></span>MW</p>
            <p class="text">进水水温<span class="badge badge-info" id="p20"></span>℃</p>
            <p class="text">出水水温<span class="badge badge-info" id="p21"></span>℃</p>
            <p class="text">循泵1/2<span class="badge" id="p22"></span>/<span class="badge" id="sp22"></span></p>
            <p class="text">取水泵1/2<span class="badge" id="p6"></span>/<span class="badge" id="sp6"></span></p>
            <p class="text">增压泵1/2<span class="badge" id="p7"></span>/<span class="badge" id="sp7"></span></p>
        </div>
        <div class="col-sm-8" id="chart1" style="height: 110%;"></div>
        <div class="col-sm-2">
            <p class="text">凝前ORP<span class="badge badge-info" id="p12"></span>mV</p>
            <p class="text">塔前ORP<span class="badge badge-info" id="p13"></span>mV</p>
            <p class="text">pH值<span class="badge badge-info" id="p14"></span></p>
            <p class="text">电导率<span class="badge badge-info" id="p15"></span>uS/cm</p>
            <p class="text">凝前SS<span class="badge badge-info" id="p16"></span>mg/L</p>
            <p class="text">塔前SS<span class="badge badge-info" id="p17"></span>mg/L</p>
        </div>
    </div>
    <div class="row" style="height: 35%;">
        <div class="col-sm-2">
            <p class="text">臭氧投加模式<span class="badge" id="p1"></span></p>
            <p class="text">本地支路水压/气压<span class="badge badge-info" id="p10"></span>/<span class="badge badge-info" id="sp10"></span>bar</p>
            <p class="text">本地支路水压/气压<span class="badge badge-info" id="p11"></span>/<span class="badge badge-info" id="sp11"></span>bar</p>
            <p class="text">SV1/2/3<span class="badge" id="p8"></span>/<span class="badge" id="sp8"></span>/<span class="badge" id="s8"></span></p>
            <p class="text">SV7/8/9<span class="badge" id="p9"></span>/<span class="badge" id="sp9"></span>/<span class="badge" id="s9"></span></p>
            <p class="text">一号取水阀<span class="badge" id="p2"></span>一号注水阀<span class="badge" id="p4"></span></p>
            <p class="text">二号取水阀<span class="badge" id="p3"></span>二号注水阀<span class="badge" id="p5"></span></p>
        </div>
        <div class="col-sm-3" id="chart2" style="height: 100%; "></div>
        <div class="col-sm-3" id="chart3" style="height: 100%; "></div>
        <div class="col-sm-3" id="chart4" style="height: 100%; "></div>
    </div>
    <div class="row" style="height: 20%;">
        <div class="col-sm-3">
            <p class="text">凝汽器支路调节阀开度</p>
            <div class="progress" style="width: 50%;">
                <div id="p23" class="progress-bar progress-bar-striped progress-bar-animated"></div>
            </div>
            <p class="text">冷却塔支路调节阀开度</p>
            <div class="progress" style="width: 50%;">
                <div id="d23" class="progress-bar progress-bar-striped progress-bar-animated"></div>
            </div>
        </div>
        <div class="col-sm-3">
            <p class="text"><span class="badge" id="li11"></span></p>
            <p class="text"><span class="badge" id="li12"></span></p>
            <p class="text"><span class="badge" id="li13"></span></p>
            <p class="text"><span class="badge" id="li14"></span></p>
        </div>
        <div class="col-sm-3">
            <p class="text"><span class="badge" id="li15"></span></p>
            <p class="text"><span class="badge" id="li16"></span></p>
            <p class="text"><span class="badge" id="li17"></span></p>
            <p class="text"><span class="badge" id="li18"></span></p>
        </div>
        <div class="col-sm-3">
            <p class="text"><span class="badge" id="li19"></span></p>
            <p class="text"><span class="badge" id="li20"></span></p>
            <p class="text"><span class="badge" id="li21"></span></p>
            <p class="text"><span class="badge" id="li22"></span></p>
        </div>
    </div>
    <div class="container" style="width:100%;" id="warning">
        <div class="alert alert-success" id="li1">
            一切正常!
        </div>
    </div>
    <div class="container body-content">
        <hr />
        <footer>
            <p class="text">获取的是时间为：$data["TIMETAG"]的数据</p>
            <p class="text">&copy; ECOTECH</p>
        </footer>
    </div>
    <script type="text/javascript">
        function set_option_to_chart(ChartName, Option) {
            myEChart = echarts.init(ChartName);
            myEChart.setOption(Option);
        }
        function flags_to_element(ElementName, Flag1, Flag2, Option) {
            if (Flag1 == 1) {
                ElementName.className = Option["ClassName"][0];
                ElementName.innerHTML = Option["HTMLText"][0];
            }
            else if (Flag2 == 1) {
                ElementName.className = Option["ClassName"][1];
                ElementName.innerHTML = Option["HTMLText"][1];
            }
            else {
                ElementName.className = Option["ClassName"][2];
                ElementName.innerHTML = Option["HTMLText"][2];
            }
        }
        function flag_to_element(ElementName, Flag, Option) {
            if (Flag == 1) {
                ElementName.className = Option["ClassName"][0];
                ElementName.innerHTML = Option["HTMLText"][0];
            }
            else {
                ElementName.className = Option["ClassName"][1];
                ElementName.innerHTML = Option["HTMLText"][1];
            }
        }
        function value_to_element(ElementName, Value) {
            var temp_string = Value.toFixed(2).toString();
            ElementName.innerHTML = temp_string;
        }
        var option = {
            tooltip: {
                trigger: 'axis',
                position: function (pt) {
                    return [pt[0], '10%'];
                }
            },
            //grid: {
            //    left: "3%",
            //    right: "3%",
            //},
            title: {
                left: 'center',
                text: '预测运维数据',
                textStyle: {
                    fontSize: 15,
                    color: "#d6ecf0"
                }
            },
            toolbox: {
                feature: {
                    dataView: {},
                    saveAsImage: {}
                }
            },
            xAxis: {
                type: 'category',
                data: $predata["TIMETAG"],
                splitLine: {
                    show: false
                }
            },
            yAxis: [
                {
                    name: "端差(℃)",
                    splitLine: {
                        show: false
                    },
                    type: 'value'
                },
                {
                    name: "负荷(MW)",
                    splitLine: {
                        show: false
                    },
                    type: 'value'
                }
            ],
            series: [
                {
                    name: '负荷(MW)',
                    type: 'line',
                    showSymbol: false,
                    data: $predata["result1"],
                    yAxisIndex: 1,
                    smooth: true
                },
                {
                    name: '端差(℃)',
                    type: 'line',
                    showSymbol: false,
                    data: $predata["result2"],
                    smooth: true
                },
                {
                    name: '预测(℃)',
                    type: 'line',
                    showSymbol: false,
                    data: $predata["result3"],
                    lineStyle: {
                        type: [5, 10],
                        dashOffset: 5
                    }
                },
                {
                    name: '警戒值(℃)',
                    type: 'line',
                    showSymbol: false,
                    data: $predata["warningvalue"],
                    lineStyle: {
                        type: [5, 10],
                        dashOffset: 5
                    }
                }
            ]
        };
        set_option_to_chart(document.getElementById('chart1'), option);
        option = {
            title: {
                text: "GM48-1",
                left: "left",
                top: "bottom",
                textStyle: {
                    color: "#d6ecf0"
                }
            },
            radar: {
                // shape: 'circle',
                indicator: [
                    { name: '发生量', max: 2700 },
                    { name: '臭浓', max: 300 },
                    { name: '流量', max: 350 },
                    { name: '功率', max: 27700 },
                    { name: '进水温', max: 30 },
                    { name: '出水温', max: 30 },
                    { name: '氧浓', max: 100 },
                    { name: '工作模块', max: 48 }
                ],
                radius: ["0%", "80%"]
            },
            series: [
                {
                    name: 'GM48-1',
                    type: 'radar',
                    data: [
                        {
                            value: [$data["int_44"], $data["int_51"], $data["int_9"], $data["int_5"], $data["int_19"], $data["int_23"], $data["int_50"] / 10, 48 - $data["int_36"]],
                            name: '1'
                        }
                    ],
                    label: {
                        show: true
                    }
                }
            ]
        };
        set_option_to_chart(document.getElementById('chart2'), option);
        option = {
            title: {
                text: "GM48-2",
                left: "left",
                top: "bottom",
                textStyle: {
                    color: "#d6ecf0"
                }
            },
            radar: {
                // shape: 'circle',
                indicator: [
                    { name: '发生量', max: 2700 },
                    { name: '臭浓', max: 300 },
                    { name: '流量', max: 350 },
                    { name: '功率', max: 27700 },
                    { name: '进水温', max: 30 },
                    { name: '出水温', max: 30 },
                    { name: '氧浓', max: 100 },
                    { name: '工作模块', max: 48 }
                ],
                radius: ["0%", "80%"]
            },
            series: [
                {
                    name: 'GM48-2',
                    type: 'radar',
                    data: [
                        {
                            value: [$data["int_45"], $data["int_52"], $data["int_10"], $data["int_6"], $data["int_20"], $data["int_24"], $data["int_49"] / 10, 48 - $data["int_38"]],
                            name: '2'
                        }
                    ],
                    label: {
                        show: true
                    }
                }
            ]
        };
        set_option_to_chart(document.getElementById('chart3'), option);
        option = {
            title: {
                text: "GM48-3",
                left: "left",
                top: "bottom",
                textStyle: {
                    color: "#d6ecf0"
                }
            },
            radar: {
                title: {
                    text: "GM48-2",
                    left: "left",
                    top: "bottom"
                },
                // shape: 'circle',
                indicator: [
                    { name: '发生量', max: 2700 },
                    { name: '臭浓', max: 300 },
                    { name: '流量', max: 350 },
                    { name: '功率', max: 27700 },
                    { name: '进水温', max: 30 },
                    { name: '出水温', max: 30 },
                    { name: '氧浓', max: 100 },
                    { name: '工作模块', max: 48 }
                ],
                radius: ["0%", "80%"]
            },
            series: [
                {
                    name: 'GM48-3',
                    type: 'radar',
                    data: [
                        {
                            value: [$data["int_46"], $data["int_53"], $data["int_11"], $data["int_7"], $data["int_21"], $data["int_25"], $data["int_48"] / 10, 48 - $data["int_40"]],
                            name: '3'
                        }
                    ],
                    label: {
                        show: true
                    }
                }
            ]
        };
        set_option_to_chart(document.getElementById('chart4'), option);
        //臭氧投加模式
        var ElementId = document.getElementById('p1');
        var temp1 = $data["bool6"];
        var temp2 = $data["bool5"];
        var temp3 = $data["bool4"];
        if ((temp3 == 1) & (temp2 == 1) & (temp1 == 0)) {
            ElementId.className = "badge badge-success";
            ElementId.innerHTML = '远程调入';
        }
        else if ((temp3 == 0) & (temp2 == 0) & (temp1 == 1)) {
            ElementId.className = "badge badge-secondary";
            ElementId.innerHTML = '远程调出';
        }
        else if ((temp1 == 0) & (temp3 == 0) & (temp2 == 1)) {
            ElementId.className = "badge badge-primary";
            ElementId.innerHTML = '本地运行';
        }
        else {
            ElementId.className = "badge badge-warning";
            ElementId.innerHTML = '模式切换中';
        }
        //一号取水阀
        var Element_Option = {
            ClassName: ["badge badge-success", "badge badge-secondary", "badge badge-warning"],
            HTMLText: ["开", "关", "动作中"]
        }
        flags_to_element(document.getElementById('p2'), $data["bool9"], $data["bool10"], Element_Option);
        //二号取水阀
        flags_to_element(document.getElementById('p3'), $data["bool11"], $data["bool12"], Element_Option);
        //一号注水阀
        flags_to_element(document.getElementById('p4'), $data["bool13"], $data["bool14"], Element_Option);
        //二号注水阀
        flags_to_element(document.getElementById('p5'), $data["bool15"], $data["bool16"], Element_Option);
        //取水泵1/2
        Element_Option = {
            ClassName: ["badge badge-success", "badge badge-secondary"],
            HTMLText: ["运行中", "未运行"]
        };
        flag_to_element(document.getElementById('p6'), $data["bool17"], Element_Option);
        flag_to_element(document.getElementById('sp6'), $data["bool18"], Element_Option);
        //增压泵1/2
        flag_to_element(document.getElementById('p7'), $data["bool19"], Element_Option);
        flag_to_element(document.getElementById('sp7'), $data["bool20"], Element_Option);
        //循泵1 / 2
        flag_to_element(document.getElementById('p22'), $data["bool21"], Element_Option);
        flag_to_element(document.getElementById('sp22'), $data["bool22"], Element_Option);
        Element_Option = {
            ClassName: ["badge badge-success", "badge badge-secondary"],
            HTMLText: ["开", "关"]
        };
        //SV1/2/3
        flag_to_element(document.getElementById('p8'), $data["bool1"], Element_Option);
        flag_to_element(document.getElementById('sp8'), $data["bool2"], Element_Option);
        flag_to_element(document.getElementById('s8'), $data["bool3"], Element_Option);
        //SV7/8/9
        flag_to_element(document.getElementById('p9'), $data["bool4"], Element_Option);
        flag_to_element(document.getElementById('sp9'), $data["bool5"], Element_Option);
        flag_to_element(document.getElementById('s9'), $data["bool6"], Element_Option);
        //本地支路水压 / 气压
        value_to_element(document.getElementById('p10'), $data["Value11"]);
        value_to_element(document.getElementById('sp10'), $data["Value17"]);
        //远调支路水压 / 气压
        value_to_element(document.getElementById('p11'), $data["Value10"]);
        value_to_element(document.getElementById('sp11'), $data["Value18"]);
        //凝前ORP
        value_to_element(document.getElementById('p12'), $data["Value8"]);
        //塔前ORP
        value_to_element(document.getElementById('p13'), $data["Value9"]);
        //pH值
        value_to_element(document.getElementById('p14'), $data["Value19"]);
        //电导率
        value_to_element(document.getElementById('p15'), $data["Value20"]);
        //凝前SS
        value_to_element(document.getElementById('p16'), $data["Value15"]);
        //塔前SS
        value_to_element(document.getElementById('p17'), $data["Value16"]);
        //端差
        value_to_element(document.getElementById('p18'), $data["Value3"]);
        //负荷
        value_to_element(document.getElementById('p19'), $data["Value5"]);
        //进水水温
        value_to_element(document.getElementById('p20'), $data["Value1"]);
        //出水水温
        value_to_element(document.getElementById('p21'), $data["Value2"]);
        //调节阀开度
        var ElementId = document.getElementById('p23');
        var pressure1 = $data["int_14"];
        var pr1 = pressure1.toString();
        ElementId.style.width = pr1 + '%';
        ElementId.innerHTML = pr1 + '%';
        ElementId = document.getElementById('d23');
        pressure1 = $data["int_13"];
        pr1 = pressure1.toString();
        ElementId.style.width = pr1 + '%';
        ElementId.innerHTML = pr1 + '%';
        //故障信息
        Element_Option = {
            ClassName: ["badge badge-danger", "badge badge-success"],
            HTMLText: ["故障", "无故障"]
        };
        ElementId = document.getElementById('li1');
        var ElementADD = ElementId;
        var ElementWarning = document.getElementById('warning');
        temp1 = $data["bool27"];
        if (temp1 == 1) {
            ElementId.className = "alert alert-danger";
            ElementId.innerHTML = "1#空压机故障报警";
        }
        temp1 = $data["bool28"];
        if (temp1 == 1) {
            if (ElementId.className == "alert alert-danger") {
                ElementADD = document.createElement("div");
                ElementADD.className = "alert alert-danger";
                ElementADD.innerHTML = "2#空压机故障报警";
                ElementWarning.appendChild(ElementADD);
                //document.body.insertAfter(ElementADD, ElementId);
            }
            else {
                ElementId.className = "alert alert-danger";
                ElementId.innerHTML = "2#空压机故障报警";
            }
        }
        temp1 = $data["bool29"];
        if (temp1 == 1) {
            if (ElementId.className == "alert alert-danger") {
                ElementADD = document.createElement("div");
                ElementADD.className = "alert alert-danger";
                ElementADD.innerHTML = "3#空压机故障报警";
                ElementWarning.appendChild(ElementADD);
                //document.body.insertBefore(ElementADD, ElementId);
            }
            else {
                ElementId.className = "alert alert-danger";
                ElementId.innerHTML = "3#空压机故障报警";
            }
        }
        temp1 = $data["bool30"];
        if (temp1 == 1) {
            if (ElementId.className == "alert alert-danger") {
                ElementADD = document.createElement("div");
                ElementADD.className = "alert alert-danger";
                ElementADD.innerHTML = "1#冷冻机故障报警";
                ElementWarning.appendChild(ElementADD);
                //document.body.insertBefore(ElementADD, ElementId);
            }
            else {
                ElementId.className = "alert alert-danger";
                ElementId.innerHTML = "1#冷冻机故障报警";
            }
        }
        temp1 = $data["bool31"];
        if (temp1 == 1) {
            if (ElementId.className == "alert alert-danger") {
                ElementADD = document.createElement("div");
                ElementADD.className = "alert alert-danger";
                ElementADD.innerHTML = "2#冷冻机故障报警";
                document.body.insertBefore(ElementADD, ElementId);
            }
            else {
                ElementId.className = "alert alert-danger";
                ElementId.innerHTML = "2#冷冻机故障报警";
            }
        }
        temp1 = $data["bool32"];
        if (temp1 == 1) {
            if (ElementId.className == "alert alert-danger") {
                ElementADD = document.createElement("div");
                ElementADD.className = "alert alert-danger";
                ElementADD.innerHTML = "3#冷冻机故障报警";
                document.body.insertBefore(ElementADD, ElementId);
            }
            else {
                ElementId.className = "alert alert-danger";
                ElementId.innerHTML = "3#冷冻机故障报警";
            }
        }
        temp1 = $data["bool58"];
        if (temp1 == 1) {
            if (ElementId.className == "alert alert-danger") {
                ElementADD = document.createElement("div");
                ElementADD.className = "alert alert-danger";
                ElementADD.innerHTML = "1#取水泵故障报警";
                document.body.insertBefore(ElementADD, ElementId);
            }
            else {
                ElementId.className = "alert alert-danger";
                ElementId.innerHTML = "1#取水泵故障报警";
            }
        }
        temp1 = $data["bool59"];
        if (temp1 == 1) {
            if (ElementId.className == "alert alert-danger") {
                ElementADD = document.createElement("div");
                ElementADD.className = "alert alert-dangere";
                ElementADD.innerHTML = "2#取水泵故障报警";
                document.body.insertBefore(ElementADD, ElementId);
            }
            else {
                ElementId.className = "alert alert-danger";
                ElementId.innerHTML = "2#取水泵故障报警";
            }
        }
        temp1 = $data["bool60"];
        if (temp1 == 1) {
            if (ElementId.className == "alert alert-danger") {
                ElementADD = document.createElement("div");
                ElementADD.className = "alert alert-danger";
                ElementADD.innerHTML = "1#增压泵故障报警";
                document.body.insertBefore(ElementADD, ElementId);
            }
            else {
                ElementId.className = "alert alert-danger";
                ElementId.innerHTML = "1#增压泵故障报警";
            }
        }
        temp1 = $data["bool61"];
        if (temp1 == 1) {
            if (ElementId.className == "alert alert-danger") {
                ElementADD = document.createElement("div");
                ElementADD.className = "alert alert-danger";
                ElementADD.innerHTML = "2#增压泵故障报警";
                document.body.insertBefore(ElementADD, ElementId);
            }
            else {
                ElementId.className = "alert alert-danger";
                ElementId.innerHTML = "2#增压泵故障报警";
            }
        }
        Element_Option = {
            ClassName: ["badge badge-success", "badge badge-secondary"],
            HTMLText: ["运行中", "停机中"]
        };
        flag_to_element(document.getElementById('li11'), $data["bool23"], Element_Option);
        flag_to_element(document.getElementById('li15'), $data["bool24"], Element_Option);
        flag_to_element(document.getElementById('li19'), $data["bool25"], Element_Option);

        Element_Option = {
            ClassName: ["badge badge-danger", "badge badge-success"],
            HTMLText: ["水温高故障", "水温正常"]
        };
        flag_to_element(document.getElementById('li12'), $data["bool34"], Element_Option);
        flag_to_element(document.getElementById('li16'), $data["bool38"], Element_Option);
        flag_to_element(document.getElementById('li20'), $data["bool42"], Element_Option);
        
        Element_Option = {
            ClassName: ["badge badge-danger", "badge badge-success"],
            HTMLText: ["进水", "正常"]
        };
        flag_to_element(document.getElementById('li13'), $data["bool36"], Element_Option);
        flag_to_element(document.getElementById('li17'), $data["bool40"], Element_Option);
        flag_to_element(document.getElementById('li21'), $data["bool44"], Element_Option);

        Element_Option = {
            ClassName: ["badge badge-danger", "badge badge-success"],
            HTMLText: ["氧气流量低", "氧气流量正常"]
        };
        flag_to_element(document.getElementById('li14'), $data["bool37"], Element_Option);
        flag_to_element(document.getElementById('li18'), $data["bool41"], Element_Option);
        flag_to_element(document.getElementById('li22'), $data["bool45"], Element_Option);
    </script>
</body>
