$def with (username,data,predata)
<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="refresh" content="120">
    <title>铱钶环保</title>
    <link rel="shortcut icon" href="/static/images/favicon.ico" />
    <!--<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" />-->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/site.css" />
    <!--<script src="/static/js/modernizr-2.6.2.js"></script>-->
    <!--<script src="/static/js/respond.js"></script>-->
    <!--<script src="/static/js/jquery-1.10.2.min.js"></script>-->
    <!--<script src="/static/js/bootstrap.min.js"></script>-->
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <!-- bootstrap.bundle.min.js 用于弹窗、提示、下拉菜单，包含了 popper.min.js -->
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="/static/js/echarts.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-xl bg-dark navbar-dark fixed-top">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="logout">登出</a></li>
        </ul>
        <span class="navbar-text">您好！$username</span>
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="/?sn=3">实时数据展示</a></li>
            <li class="nav-item"><a class="nav-link" href="/historical">历史数据展示</a></li>
        </ul>
    </nav>
    <header id="1" align="center" style="color: #d6ecf0;"><h1>OZAST高效水处理监控大屏</h1></header>
    <div class="row">
        <div class="col-sm-2">
            <p>凝汽器前水温1<span class="badge badge-info" id="p5"></span>℃</p>
            <p>凝汽器前水温2<span class="badge badge-info" id="p6"></span>℃</p>
            <p>排气温度<span class="badge badge-info" id="p7"></span>℃</p>
            <p>出水水温<span class="badge badge-info" id="p8"></span>℃</p>
            <p>进水压力<span class="badge badge-info" id="p9"></span>MPa</p>
            <p>出水压力<span class="badge badge-info" id="p10"></span>MPa</p>
            <p>负荷<span class="badge badge-info" id="p11"></span>%</p>
        </div>
        <div class="col-sm-6" id="chart1" style="height: 300px; "></div>
        <div class="col-sm-4" id="chart2" style="height: 300px; "></div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <p>凝汽器前ORP1<span class="badge badge-info" id="p1"></span>mV</p>
            <p>凝汽器前ORP2<span class="badge badge-info" id="p2"></span>mV</p>
            <p>pH值<span class="badge badge-info" id="p3"></span></p>
            <p>电导率<span class="badge badge-info" id="p4"></span>uS / cm</p>
        </div>
        <div class="col-sm-3"><p>取水阀<span class="badge" id="p12"></span></p>
            <p>气路快开阀<span class="badge" id="p13"></span></p>
            <p>凝汽器支路调节阀开度</p>
            <div class="progress">
                <div id="p20" class="progress-bar progress-bar-striped progress-bar-animated"></div>
            </div>
            <p>冷却塔支路调节阀开度</p>
            <div class="progress">
                <div id="p21" class="progress-bar progress-bar-striped progress-bar-animated"></div>
            </div>
        </div>
        <div class="col-sm-3">
            <p>循泵1/2/3<span class="badge" id="p16"></span>/<span class="badge " id="sp16"></span>/<span class="badge" id="s16"></span></p>
            <p>变频循泵2工作频率<span class="badge badge-info" id="p19"></span>Hz<p>
            <p>取水泵1<span class="badge" id="p14"></span></p>
            <p>取水泵2<span class="badge" id="p15"></span></p>
            <p>取水泵1工作频率<span class="badge badge-info" id="p17"></span>Hz</p>
        </div>
        <div class="col-sm-3">
            <p>吸气口水压/气压<span class="badge badge-info" id="p24"></span>/<span class="badge badge-info" id="sp24"></span>bar</p>
            <p>吸入器后水压<span class="badge badge-info" id="p25"></span>bar</p>
            <p>脱气塔前水压<span class="badge badge-info" id="p26"></span>bar</p>
            <p>脱气塔后水压<span class="badge badge-info" id="p27"></span>bar</p>
        </div>
    </div>
    <div class="container body-content">
        <hr />
        <footer>
            <p>&copy; ECOTECH</p>
        </footer>
    </div>
    <script type="text/javascript">
        var myChart1 = echarts.init(document.getElementById('chart1'));
        var myChart2 = echarts.init(document.getElementById('chart2'));
        var option = {
            tooltip: {
                trigger: 'axis',
                position: function (pt) {
                    return [pt[0], '10%'];
                }
            },
            title: {
                left: 'center',
                text: '预测运维数据',
                textStyle: {
                    fontSize: 15,
                    color: "#d6ecf0"
                }
            },
            toolbox: {
                feature: {
                    dataView: {},
                    saveAsImage: {}
                }
            },
            xAxis: {
                type: 'category',
                data: $predata["TIMETAG"],
                splitLine: {
                    show: false
                }
            },
            yAxis: [
                {
                    name: "端差(℃)",
                    type: 'value',
                    splitLine: {
                        show: false
                    }
                },
                {
                    name: "负荷(%)",
                    type: 'value',
                    splitLine: {
                        show: false
                    }
                }
            ],
            series: [
                {
                    name: '负荷(%)',
                    type: 'line',
                    data: $predata["result1"],
                    yAxisIndex: 1,
                    smooth: true
                },
                {
                    name: '端差(℃)',
                    type: 'line',
                    data: $predata["result2"],
                    yAxisIndex: 0,
                    smooth: true
                },
                {
                    name: '预测(℃)',
                    type: 'line',
                    data: $predata["result3"],
                    lineStyle: {
                        type: [5, 10],
                        dashOffset: 5
                    }
                },
                {
                    name: '警戒值(℃)',
                    type: 'line',
                    data: $predata["warningvalue"],
                    yAxisIndex: 0,
                    lineStyle: {
                        type: [5, 10],
                        dashOffset: 5
                    }
                }
            ]
        };
        myChart1.setOption(option);
        option = {
            radar: {
                // shape: 'circle',
                indicator: [
                    { name: '发生量', max: 1500 },
                    { name: '臭氧', max: 300 },
                    { name: '流量', max: 180 },
                    { name: '功率', max: 11000 },
                    { name: '进水温', max: 25 },
                    { name: '出水温', max: 25 },
                    { name: '氧气', max: 100 }
                ],
                radius: ["0%", "75%"]
            },
            series: [
                {
                    name: 'GM18',
                    type: 'radar',
                    data: [
                        {
                            value: [$data["int_32"] / 10, $data["int_15"], $data["int_16"] / 10, $data["int_17"] * 10, $data["int_18"] / 10, $data["int_19"] / 10, $data["Value12"]],
                            name: '1'
                        }
                    ],
                    label: {
                        show: true
                    }
                }
            ]
        };
        myChart2.setOption(option);
        var p1 = document.getElementById('p1');
        var p2 = document.getElementById('p2');
        var p3 = document.getElementById('p3');
        var p4 = document.getElementById('p4');
        var p5 = document.getElementById('p5');
        var p6 = document.getElementById('p6');
        var p7 = document.getElementById('p7');
        var p8 = document.getElementById('p8');
        var p9 = document.getElementById('p9');
        var p10 = document.getElementById('p10');
        var p11 = document.getElementById('p11');
        var p12 = document.getElementById('p12');
        var p13 = document.getElementById('p13');
        var p14 = document.getElementById('p14');
        var p15 = document.getElementById('p15');
        var p16 = document.getElementById('p16');
        var sp16 = document.getElementById('sp16');
        var s16 = document.getElementById('s16');
        var p17 = document.getElementById('p17');
        var p19 = document.getElementById('p19');
        var p20 = document.getElementById('p20');
        var p21 = document.getElementById('p21');
        var p24 = document.getElementById('p24');
        var sp24 = document.getElementById('sp24');
        var p25 = document.getElementById('p25');
        var p26 = document.getElementById('p26');
        var p27 = document.getElementById('p27');
        p1.innerHTML = $data["int_8"];
        p2.innerHTML = $data["int_10"];
        p3.innerHTML = $data["int_33"] / 100;
        p4.innerHTML = $data["int_34"];
        p5.innerHTML = $data["int_9"] / 10;
        p6.innerHTML = $data["int_11"] / 10;
        var temp1 = $data["bool6"];
        var temp2 = $data["bool7"];
        if (temp1 == 1) {
            p12.className = "badge badge-success";
            p12.innerHTML = '打开';
        }
        else if (temp2 == 1) {
            p12.className = "badge badge-secondary";
            p12.innerHTML = '关闭';
        }
        else {
            p12.className = "badge badge-warning";
            p12.innerHTML = '动作中';
        }
        temp1 = $data["bool8"];
        temp2 = $data["bool9"];
        if (temp1 == 1) {
            p13.className = "badge badge-success";
            p13.innerHTML = '打开';
        }
        else if (temp2 == 1) {
            p13.className = "badge badge-secondary";
            p13.innerHTML = '关闭';
        }
        else {
            p13.className = "badge badge-warning";
            p13.innerHTML = '动作中';
        }
        temp1 = $data["bool15"];
        if (temp1 == 1) {
            p14.className = "badge badge-success";
            p14.innerHTML = '运行中';
        }
        else {
            p14.className = "badge badge-secondary";
            p14.innerHTML = '未运行';
        }
        temp1 = $data["bool18"];
        if (temp1 == 1) {
            p15.className = "badge badge-success";
            p15.innerHTML = '运行中';
        }
        else {
            p15.className = "badge badge-secondary";
            p15.innerHTML = '未运行';
        }
        temp1 = $data["bool1"];
        if (temp1 == 1) {
            p16.className = "badge badge-success";
            p16.innerHTML = '运行中';
        }
        else {
            p16.className = "badge badge-secondary";
            p16.innerHTML = '未运行';
        }
        temp1 = $data["bool2"];
        if (temp1 == 1) {
            sp16.className = "badge badge-success";
            sp16.innerHTML += '运行中';
        }
        else {
            sp16.className = "badge badge-secondary";
            sp16.innerHTML += '未运行';
        }
        temp1 = $data["bool3"];
        if (temp1 == 1) {
            s16.className = "badge badge-success";
            s16.innerHTML += '运行中';
        }
        else {
            s16.className = "badge badge-secondary";
            s16.innerHTML += '未运行';
        }
        var pressure1 = $data["Value15"];
        var pressure2 = $data["Value14"];
        var pr1 = pressure1.toFixed(2).toString();
        var pr2 = pressure2.toFixed(2).toString();
        p24.innerHTML = pr1;
        sp24.innerHTML = pr2;
        pressure1 = $data["Value16"];
        pr1 = pressure1.toFixed(2).toString();
        p25.innerHTML = pr1;
        pressure1 = $data["Value18"];
        pr1 = pressure1.toFixed(2).toString();
        p26.innerHTML = pr1;
        pressure1 = $data["Value19"];
        pr1 = pressure1.toFixed(2).toString();
        p27.innerHTML = pr1;
        pressure1 = $data["Value5"];
        pr1 = pressure1.toFixed(2).toString();
        p7.innerHTML = pr1;
        pressure1 = $data["Value6"];
        pr1 = pressure1.toFixed(2).toString();
        p8.innerHTML = pr1;
        pressure1 = $data["Value7"];
        pr1 = pressure1.toFixed(2).toString();
        p9.innerHTML = pr1;
        pressure1 = $data["Value8"];
        pr1 = pressure1.toFixed(2).toString();
        p10.innerHTML = pr1;
        pressure1 = $data["Value4"];
        pr1 = pressure1.toFixed(2).toString();
        p11.innerHTML = pr1;
        pressure1 = $data["Value3"];
        pr1 = pressure1.toFixed(2).toString();
        p19.innerHTML = pr1;
        pressure1 = $data["int_13"];
        pr1 = pressure1.toString();
        p17.innerHTML = pr1;
        pressure1 = $data["int_4"];
        pressure2 = $data["int_5"];
        pr1 = pressure1.toString();
        pr2 = pressure2.toString();
        p23.style.width = pr1 + '%';
        d23.style.width = pr2 + '%';
        p23.innerHTML = pr1 + '%';
        d23.innerHTML = pr2 + '%';
    </script>
</body>
