$def with (username,data)
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <title>铱钶环保</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/site.css" />
    <script src="/static/js/modernizr-2.6.2.js"></script>
    <script src="/static/js/echarts.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/?sn=3">实时数据展示</a></li>
                    <li><a href="/historical">历史数据展示</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a>您好！$username</a></li>
                    <li><a href="logout">登出</a></li>
                </ul>
            </div>
        </div>
    </div>
    <header id="1" align="center">OZAST高效水处理监控大屏</header>
    <table width="100%" border="0">
        <tbody>
            <tr style="height: 25%;">
                <td id="td1" width="150px" style="height: 250px; ">
                    <p>凝汽器前ORP1：$data["int_8"]</p>
                    <p>凝汽器前ORP2：$data["int_10"]</p>
                    <p>pH值：$data["int_33"]</p>
                    <p>电导率：$data["int_34"]</p>
                    <p>凝汽器前水温1：$data["int_9"]</p>
                    <p>凝汽器前水温2：$data["int_11"]</p>
                </td>
                <td id="chart1" width="720px" style="height: 250px; "></td>
                <td id="td2" width="150px" style="height: 250px; ">
                    <p>排气温度：$data["Value5"]</p>
                    <p>出水水温：$data["Value6"]</p>
                    <p>进水压力：$data["Value7"]</p>
                    <p>出水压力：$data["Value8"]</p>
                    <p>发电负荷：$data["Value4"]</p>
                </td>
            </tr>
            <tr style="height: 230px;">
                <td id="td3" width="150px" style="height: 230px; ">
                    <p>取水阀开/关：$data["bool6"]/$data["bool7"]</p>
                    <p>气路快开阀开/关：$data["bool8"]/$data["bool9"]</p>
                    <p>取水泵1运行：$data["bool15"]</p>
                    <p>取水泵2运行：$data["bool18"]</p>
                    <p>循泵1：$data["bool1"]</p>
                    <p>循泵2：$data["bool2"]</p>
                    <p>循泵3：$data["bool3"]</p>
                    <p>变频水泵工作频率：$data["Value3"]</p>
                </td>
                <td id="td4" width="720px" style="height: 230px; ">
                    <table width="100%" border="0" align="center">
                        <tbody>
                            <tr align="center">
                                <td id="chart2" style="width: 240px; height: 230px; "></td>
                                <td id="chart3" style="width: 240px; height: 230px; "></td>
                                <td id="chart4" style="width: 240px; height: 230px; "></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td id="td5" width="150px" style="height: 230px; ">
                    <p>凝汽器支路</p>
                    <p>调节阀开度：$data["int_4"]</p>
                    <p>冷却塔支路</p>
                    <p>调节阀开度：$data["int_5"]</p>
                    <p>吸气口水压/气压：$data["Value15"]/$data["Value14"]</p>
                    <p>吸入器后水压：$data["Value16"]</p>
                    <p>脱气塔前水压：$data["Value18"]</p>
                    <p>脱气塔后水压：$data["Value19"]</p>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="container body-content">
        <hr />
        <footer>
            <p>&copy; ECOTECH</p>
        </footer>
    </div>

    <script src="/static/js/jquery-1.10.2.js"></script>
    <script src="/static/js/bootstrap-4.4.1.js"></script>
    <script src="/static/js/respond.js"></script>

    <script type="text/javascript">
        var myChart1 = echarts.init(document.getElementById('chart1'));
        var myChart2 = echarts.init(document.getElementById('chart2'));
        var option = {
            tooltip: {
                trigger: 'axis',
                position: function (pt) {
                    return [pt[0], '10%'];
                }
            },
            title: {
                left: 'center',
                text: '预测运维数据'
            },
            toolbox: {
                feature: {
                    dataView: {},
                    saveAsImage: {}
                }
            },
            xAxis: {
                type: 'time',
                boundaryGap: false
            },
            yAxis: {
                type: 'value',
                boundaryGap: [0, '100%']
            },
            series: [
                {
                    name: '预测运维数据',
                    type: 'line',
                    symbol: 'none',
                    data: ''
                }
            ]
        };
        myChart1.setOption(option);
        option = {
            radar: {
                // shape: 'circle',
                indicator: [
                    { name: '发生量', max: 15000 },
                    { name: '气流量', max: 1800 },
                    { name: '功率', max: 1100 },
                    { name: '冷却水进水', max: 250 },
                    { name: '冷却水出水', max: 250 },
                    { name: '氧气浓度', max: 100 }
                ]
            },
            series: [
                {
                    name: 'GM48-1',
                    type: 'radar',
                    data: [
                        {
                            value: [$data["int_32"], $data["int_16"], $data["int_17"], $data["int_18"], $data["int_19"], $data["Value12"]],
                            name: '1'
                        }
                    ],
                    label: {
                        show: true
                    }
                }
            ]
        };
        myChart2.setOption(option);
    </script>
</body>
</html>
