$def with (username,data,predata)
<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>铱钶环保</title>
    <link rel="shortcut icon" href="/static/images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/site.css" />
    <!--<script src="/static/js/modernizr-2.6.2.js"></script>-->
    <!--<script src="/static/js/respond.js"></script>-->
    <!--<script src="/static/js/jquery-1.10.2.min.js"></script>-->
    <!--<script src="/static/js/bootstrap.min.js"></script>-->
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <!-- bootstrap.bundle.min.js 用于弹窗、提示、下拉菜单，包含了 popper.min.js -->
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="/static/js/echarts.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <nav class="navbar-collapse navbar-transparent collapse" role="navigation">
                <ul class="nav navbar-nav">
                    <li><a href="/?sn=1">一号机组实时数据展示</a></li>
                    <li><a href="/?sn=2">二号机组实时数据展示</a></li>
                    <li><a href="/historical">历史数据展示</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a>您好！$username</a></li>
                    <li><a href="logout">登出</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <header id="1" align="center" style="color: #d6ecf0;"><h1>OZAST高效水处理监控大屏</h1></header>
    <div class="row">
        <div class="col-sm-2">
            <p id="p18"></p>
            <p id="p19"></p>
            <p id="p20"></p>
            <p id="p21"></p>
            <p id="p22"></p>
            <p id="p6"></p>
            <p id="p7"></p>
            <p>凝汽器/冷却塔支路</p>
            <p id="p23"></p>
        </div>
        <div class="col-sm-8" id="chart1" style="height: 300px; "></div>
        <div class="col-sm-2">
            <p id="p12"></p>
            <p id="p13"></p>
            <p id="p14"></p>
            <p id="p15"></p>
            <p id="p16"></p>
            <p id="p17"></p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <p id="p1"></p>
            <p id="p10"></p>
            <p id="p11"></p>
            <p id="p8"></p>
            <p id="p9"></p>
            <p id="p2"></p>
            <p id="p4"></p>
            <p id="p3"></p>
            <p id="p5"></p>
        </div>
        <div class="col-sm-3" id="chart2" style="height: 300px; "></div>
        <div class="col-sm-3" id="chart3" style="height: 300px; "></div>
        <div class="col-sm-3" id="chart4" style="height: 300px; "></div>
    </div>
    <div class="container body-content">
        <hr />
        <footer>
            <p>&copy; ECOTECH</p>
        </footer>
    </div>
    <!--<script src="/static/js/jquery-3.7.0.js"></script>
    <script src="/static/js/bootstrap-4.4.1.js"></script>
    <script src="/static/js/respond.js"></script>-->
    <script type="text/javascript">
        var myChart1 = echarts.init(document.getElementById('chart1'));
        var myChart2 = echarts.init(document.getElementById('chart2'));
        var myChart3 = echarts.init(document.getElementById('chart3'));
        var myChart4 = echarts.init(document.getElementById('chart4'));
        var p1 = document.getElementById('p1');
        var p2 = document.getElementById('p2');
        var p3 = document.getElementById('p3');
        var p4 = document.getElementById('p4');
        var p5 = document.getElementById('p5');
        var p6 = document.getElementById('p6');
        var p7 = document.getElementById('p7');
        var p8 = document.getElementById('p8');
        var p9 = document.getElementById('p9');
        var p10 = document.getElementById('p10');
        var p11 = document.getElementById('p11');
        var option = {
            tooltip: {
                trigger: 'axis',
                position: function (pt) {
                    return [pt[0], '10%'];
                }
            },
            title: {
                left: 'center',
                text: '预测运维数据',
                textStyle: {
                    fontSize: 15,
                    color: "#d6ecf0"
                }
            },
            toolbox: {
                feature: {
                    dataView: {},
                    saveAsImage: {}
                }
            },
            xAxis: {
                type: 'category',
                data: $predata["TIMETAG"]
            },
            yAxis: [
                {
                    name: "负荷(MW)",
                    type: 'value'
                },
                {
                    name: "端差(℃)",
                    type: 'value'
                }
            ],
            series: [
                {
                    name: '负荷(MW)',
                    type: 'line',
                    data: $predata["result1"],
                    yAxisIndex: 1,
                    smooth: true
                },
                {
                    name: '端差(℃)',
                    type: 'line',
                    data: $predata["result2"],
                    smooth: true
                },
                {
                    name: '预测(℃)',
                    type: 'line',
                    data: $predata["result3"],
                    lineStyle: {
                        type: [5, 10],
                        dashOffset: 5
                    }
                },
                {
                    name: '警戒值(℃)',
                    type: 'line',
                    data: $predata["warningvalue"],
                    lineStyle: {
                        type: [5, 10],
                        dashOffset: 5
                    }
                }
            ]
        };
        myChart1.setOption(option);
        option = {
            radar: {
                // shape: 'circle',
                indicator: [
                    { name: '发生量', max: 2700 },
                    { name: '臭浓', max: 300 },
                    { name: '流量', max: 350 },
                    { name: '功率', max: 27700 },
                    { name: '进水温', max: 30 },
                    { name: '出水温', max: 30 },
                    { name: '氧浓', max: 100 },
                    { name: '工作模块', max: 48 }
                ],
                radius: ["0%", "65%"]
            },
            series: [
                {
                    name: 'GM48-1',
                    type: 'radar',
                    data: [
                        {
                            value: [$data["int_44"], $data["int_51"], $data["int_9"], $data["int_5"], $data["int_19"], $data["int_23"], $data["int_50"] / 10, 48 - $data["int_36"]],
                            name: '1'
                        }
                    ],
                    label: {
                        show: true
                    }
                }
            ]
        };
        myChart2.setOption(option);
        option = {
            radar: {
                // shape: 'circle',
                indicator: [
                    { name: '发生量', max: 2700 },
                    { name: '臭浓', max: 300 },
                    { name: '流量', max: 350 },
                    { name: '功率', max: 27700 },
                    { name: '进水温', max: 30 },
                    { name: '出水温', max: 30 },
                    { name: '氧浓', max: 100 },
                    { name: '工作模块', max: 48 }
                ],
                radius: ["0%", "65%"]
            },
            series: [
                {
                    name: 'GM48-2',
                    type: 'radar',
                    data: [
                        {
                            value: [$data["int_45"], $data["int_52"], $data["int_10"], $data["int_6"], $data["int_20"], $data["int_24"], $data["int_49"] / 10, 48 - $data["int_38"]],
                            name: '2'
                        }
                    ],
                    label: {
                        show: true
                    }
                }
            ]
        };
        myChart3.setOption(option);
        option = {
            radar: {
                // shape: 'circle',
                indicator: [
                    { name: '发生量', max: 2700 },
                    { name: '臭浓', max: 300 },
                    { name: '流量', max: 350 },
                    { name: '功率', max: 27700 },
                    { name: '进水温', max: 30 },
                    { name: '出水温', max: 30 },
                    { name: '氧弄', max: 100 },
                    { name: '工作模块', max: 48 }
                ],
                radius: ["0%", "65%"]
            },
            series: [
                {
                    name: 'GM48-3',
                    type: 'radar',
                    data: [
                        {
                            value: [$data["int_46"], $data["int_53"], $data["int_11"], $data["int_7"], $data["int_21"], $data["int_25"], $data["int_48"] / 10, 48 - $data["int_40"]],
                            name: '3'
                        }
                    ],
                    label: {
                        show: true
                    }
                }
            ]
        };
        myChart4.setOption(option);
        var temp1 = $data["bool9"];
        var temp2 = $data["bool10"];
        if (temp1 == 1)
            p2.innerHTML = '一号取水阀 开';
        else if (temp2 == 1)
            p2.innerHTML = '一号取水阀 关';
        else
            p2.innerHTML = '一号取水阀 动作中';
        temp1 = $data["bool11"];
        temp2 = $data["bool12"];
        if (temp1 == 1)
            p3.innerHTML = '二号取水阀 开';
        else if (temp2 == 1)
            p3.innerHTML = '二号取水阀 关';
        else
            p3.innerHTML = '二号取水阀 动作中';
        temp1 = $data["bool13"];
        temp2 = $data["bool14"];
        if (temp1 == 1)
            p4.innerHTML = '一号注水阀 开';
        else if (temp2 == 1)
            p4.innerHTML = '一号注水阀 关';
        else
            p4.innerHTML = '一号注水阀 动作中';
        temp1 = $data["bool15"];
        temp2 = $data["bool16"];
        if (temp1 == 1)
            p5.innerHTML = '二号注水阀 开';
        else if (temp2 == 1)
            p5.innerHTML = '二号注水阀 关';
        else
            p5.innerHTML = '二号注水阀 动作中';
        temp1 = $data["bool17"];
        temp2 = $data["bool18"];
        p6.innerHTML = '取水泵1/2：';
        if (temp1 == 1)
            p6.innerHTML += '运行中/';
        else
            p6.innerHTML += '未运行/';
        if (temp2 == 1)
            p6.innerHTML += '运行中';
        else
            p6.innerHTML += '未运行';
        temp1 = $data["bool19"];
        temp2 = $data["bool20"];
        p7.innerHTML = '增压泵1/2：';
        if (temp1 == 1)
            p7.innerHTML += '运行中/';
        else
            p7.innerHTML += '未运行/';
        if (temp2 == 1)
            p7.innerHTML += '运行中';
        else
            p7.innerHTML += '未运行';
        temp1 = $data["bool1"];
        p8.innerHTML = 'SV1/2/3：';
        if (temp1 == 1)
            p8.innerHTML += '开/';
        else
            p8.innerHTML += '关/';
        temp1 = $data["bool2"];
        if (temp1 == 1)
            p8.innerHTML += '开/';
        else
            p8.innerHTML += '关/';
        temp1 = $data["bool3"];
        if (temp1 == 1)
            p8.innerHTML += '开';
        else
            p8.innerHTML += '关';
        p9.innerHTML = 'SV7/8/9：';
        temp1 = $data["bool4"];
        if (temp1 == 1)
            p9.innerHTML += '开/';
        else
            p9.innerHTML += '关/';
        temp1 = $data["bool5"];
        if (temp1 == 1)
            p9.innerHTML += '开/';
        else
            p9.innerHTML += '关/';
        temp1 = $data["bool6"];
        temp2 = $data["bool5"];
        if (temp1 == 1)
            p9.innerHTML += '开';
        else
            p9.innerHTML += '关';
        var temp3 = $data["bool4"];
        if ((temp3 == 1) & (temp2 == 1) & (temp1 == 0))
            p1.innerHTML = '臭氧投加模式：远程调入';
        else if ((temp3 == 0) & (temp2 == 0) & (temp1 == 1))
            p1.innerHTML = '臭氧投加模式：远程调出';
        else if ((temp1 == 0) & (temp3 == 0) & (temp2 == 1))
            p1.innerHTML = '臭氧投加模式：本地运行';
        else
            p1.innerHTML = '臭氧投加模式：模式切换中';
        var pressure1 = $data["Value11"];
        var pressure2 = $data["Value17"];
        var pr1 = pressure1.toFixed(2).toString();
        var pr2 = pressure2.toFixed(2).toString();
        p10.innerHTML = '本地支路水压/气压：' + pr1 + '/' + pr2 + ' bar';
        pressure1 = $data["Value10"];
        pressure2 = $data["Value18"];
        pr1 = pressure1.toFixed(2).toString();
        pr2 = pressure2.toFixed(2).toString();
        p11.innerHTML = '远调支路水压/气压：' + pr1 + '/' + pr2 + ' bar';
        pressure1 = $data["Value8"];
        pr1 = pressure1.toFixed(2).toString();
        p12.innerHTML = '凝汽器前ORP：' + pr1 + ' mV';
        pressure1 = $data["Value9"];
        pr1 = pressure1.toFixed(2).toString();
        p13.innerHTML = '塔前ORP：' + pr1 + ' mV';
        pressure1 = $data["Value19"];
        pr1 = pressure1.toFixed(2).toString();
        p14.innerHTML = 'pH值：' + pr1;
        pressure1 = $data["Value20"];
        pr1 = pressure1.toFixed(2).toString();
        p15.innerHTML = '电导率：' + pr1 + ' uS/cm';
        pressure1 = $data["Value15"];
        pr1 = pressure1.toFixed(2).toString();
        p16.innerHTML = '凝汽器前SS：' + pr1 + ' mg/L';
        pressure1 = $data["Value16"];
        pr1 = pressure1.toFixed(2).toString();
        p17.innerHTML = '塔前SS：' + pr1 + ' mg/L';
        pressure1 = $data["Value3"];
        pr1 = pressure1.toFixed(2).toString();
        p18.innerHTML = '端差：' + pr1 + ' ℃';
        pressure1 = $data["Value5"];
        pr1 = pressure1.toFixed(2).toString();
        p19.innerHTML = '负荷：' + pr1 + ' MW';
        pressure1 = $data["Value1"];
        pr1 = pressure1.toFixed(2).toString();
        p20.innerHTML = '进水水温：' + pr1 + ' ℃';
        pressure1 = $data["Value2"];
        pr1 = pressure1.toFixed(2).toString();
        p21.innerHTML = '出水水温：' + pr1 + ' ℃';
        temp1 = $data["bool21"];
        p22.innerHTML = '循泵1/2：';
        if (temp1 == 1)
            p22.innerHTML += '运行中/';
        else
            p22.innerHTML += '未运行/';
        temp1 = $data["bool22"];
        if (temp1 == 1)
            p22.innerHTML += '运行中';
        else
            p22.innerHTML += '未运行';
        pressure1 = $data["int_14"];
        pressure2 = $data["int_13"];
        pr1 = pressure1.toString();
        pr2 = pressure2.toString();
        p23.innerHTML = '调节阀开度：' + pr1 + '/' + pr2 + ' %';
    </script>
</body>
