<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>ECOTECH-WebSite-HomePage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="static/css/site.css" />
</head>
<body>
    <div id="mainWrapper">
        <header>
            <div id="logo">
                ECOTECH
            </div>
            <div id="headerLinks">
                <a href="/login" title="Login/Register">Login/Register</a>
            </div>
        </header>
    </div>
</body>
</html>
